<!doctype html>
<html lang="en" ng-app="app" ng-csp>
<head>
  <meta charset="utf-8">
  <title>HUST Library</title>
  <link rel="stylesheet" href="/bower_components/angular/angular-csp.css">
  <link rel="stylesheet" href="/bower_components/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="masthead clearfix">
    <h3 class="text-muted">HUST图书馆借阅小能手~</h3>
  </div>
  <div class="container-fluid">
    <section ng-controller="appCtrl">
      <div class="alert alert-success" ng-show="displayLoading">
        <p>等一下下正在获取图书信息~ 2秒之后再来看一下!</p>
      </div>
      <div ng-show="displaySignIn">
        <div class="form-group">
          <p>请输入您的姓名, 如:刘年</p>
          <label for="user_name">姓名: </label>
          <input type="text" class="form-control" id="user_name" name="user_name" value=""/>
        </div>
        <div class="form-group">
          <p>请输入借书证上的条码,如:21169795</p>
          <label for="user_id">条码: </label>
          <input type="text" class="form-control" name="user_id" id="user_id" value=""/>
        </div>
        <button class="btn btn-primary" ng-click="signIn()">登录</button>
      </div>
      <div ng-show="displayBooks">
	    <button type="button" class="btn btn-link" ng-click="open()">去图书馆!</button>
	    <div class="alert alert-danger" ng-show="displayInfo">{{ booksInfo }}</div>
        <ul class="list-group" ng-show="(books).length">
           <li class="list-group-item" ng-repeat="book in books">
              <p class="text-success">{{ book.title }}<span class="label label-warning" ng-show="{{ book.danger }}">要到期啦!</span><span class="label label-danger" ng-show="{{ book.money }}">快去交钱!</span></p>
              <p class="text-primary">{{ book.status }}</p>
              <p>{{ book.code }}</p>
           </li>
        </ul>
      </div>
    </section>
  </div>
  <script src="/bower_components/q/q.js"></script>
  <script src="/bower_components/moment/moment.js"></script>
  <script src="/bower_components/angular/angular.min.js"></script>
  <script src="/bower_components/jquery/jquery.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers/appCtrl.js"></script>
  <script src="/src/common/libraryStorage.js"></script>
  <script src="/src/common/icon.js"></script>
  <script src="/src/common/libraryService.js"></script>
  <script src="js/filters/fromNow.js"></script>
  <script src="js/filters/hide.js"></script>
</body>
</html>
